
@keyframes  AnimacaoCeu {
    0% { background-position: 0 0; }
    100% { background-position: -30000px 0; }
}
@-moz-keyframes AnimacaoCeu {
    0% { background-position: 0 0; }
    100% { background-position: -30000px 0; }
}
@-webkit-keyframes AnimacaoCeu {
    0% { background-position: 0 0; }
    100% { background-position: -30000px 0; }
}
@-ms-keyframes AnimacaoCeu  {
    0% { background-position: 0 0; }
    100% { background-position: -30000px 0; }
}
@-o-keyframes AnimacaoCeu {
    0% { background-position: 0 0; }
    100% { background-position: -30000px 0; }
}


body {
    background-color:#addfe8;
    min-width: 1000px;
    margin:0;
    font-family: 'Oswald';
}

header {
    overflow: auto;
    width:100%;
    height: 460px;
    background-image: url(/img/clouds.png), linear-gradient(180deg, #2789af, #ecfcff);
    background-repeat: repeat-x;
    animation: AnimacaoCeu 5700s linear infinite;
    -moz-animation: AnimacaoCeu 5700s linear infinite;
    -webkit-animation: AnimacaoCeu 5700s linear infinite;
    -ms-animation: AnimacaoCeu 5700s linear infinite;
    -o-animation: AnimacaoCeu 5700s linear infinite;

}

header::after {
    content: "\00a0";
    background: url(../img/oceano-topo.gif) repeat-x center top;
    width: 100%;
    position: absolute;
    top: 424px;
    height: 36px;
}
    
    

h1 {
    font-family: 'Oswald', sans-serif;
    margin:0;
    color:white;

}

p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:18px;
    text-align: justify;
    color:white;
}

.intro-text {
    background-color: rgba(40, 43, 34, 0.79);
    padding:20px;
    width: 400px;
    margin: 50px 50px 0px 20px;
}
nav {
    text-align:center;
}
nav .fa {
    font-size:35px;
    margin: 5px;
    color: #9fcfe0;;
}

#tubo {
    position: absolute;
    top: 420px;
    width: 100%;
    min-width: 1000px;
    z-index: 5;
}

.tubo-container {
    width: 126px;
    margin: 0px auto;
    overflow-y: hidden;
}

#vessel {
    position: fixed;
    top: 200px;
    background: url(../img/vessel2.png) no-repeat center top;
    height: 285px;
    z-index: 11;
    display: block;
}



#frente {
    display: block;
    width: 126px;
    top: 23px;
    margin: 0px auto;
    background: url(../img/tubo_fundo.gif) repeat-y;
    z-index: 10;
    height:2000px;
    
}

#frente::before {
    content: "\00a0";
    position: absolute;
    width: 126px;
    margin: 0px auto;
    background: url(../img/tubo.png) repeat-y center top;
    z-index: 12;
    top: 31px;
    height:2000px;

}

#tubo-corpo {
    display: block;
    width: 126px;
    top: 23px;
    margin: 0px auto;
    background: url(../img/tubo_fundo.gif) repeat-y;
    z-index: 10;
    height:33033px;
}

#tubo-corpo::before {
    content: "\00a0";
    position: absolute;
    width: 126px;
    margin: 0px auto;
    background: linear-gradient(180deg, rgba(0, 54, 103, 0.25), rgba(0, 11, 25, 0.59)), url(../img/tubo.png) repeat-y center top;
    z-index: 12;
    top: 40px;
    height: 100%;

}

#tubo-entrada {
    width: 126px;
    margin: 0px auto;
    background: url(../img/tubotopofundo.gif) no-repeat center top;
    height: 23px;
    z-index: 10;
    top: 8px;
}

#tubo-entrada::before {
    position: absolute;
    content: "\00a0";
    width: 126px;
    margin: 0px auto;
    background: url(../img/tubotopo.gif) no-repeat center top;
    height: 30px;
    z-index: 12;
    top: 10px;
    
}



.zone {
    height: calc(1573px * 3);
    height: -webkit-calc(1573px * 3);
    border-bottom: 2px dashed white;
    background-origin: border-box;
}

#surface {
    background: linear-gradient(180deg, #21e7fc 2%, #003667 60%);
    background-origin: border-box;
}

#midnight {
    background: linear-gradient(180deg, #003667, #001e3a);
}

#abyssal {
    background:linear-gradient(180deg, #001e3a, #00162b);
}

#hadal {
    background:linear-gradient(180deg, #00162b, #00101f);
}

#hadal2 {
    background: linear-gradient(180deg, #00101f, #000e1b);
}

#hadal3 {
    background:linear-gradient(180deg, #000e1b, #000b15);
}

#hadal4 {
    background:linear-gradient(180deg, #000b15, #000306);
    height:5030px;
}

.oi {
    position:absolute;
    bottom:20px;
    font-size:50px;
}

.scale {
    position: absolute;
    left: 0px;
    height: 33033px;
    background: url(../img/escala.gif) repeat-y;
    width: 30px;
}

#scale-counter {
    position: fixed;
    width: 100px;
    height: 100px;
    padding: 4px;
    background: #FFFFFF;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    border-radius: 52px;
    left: 50px;
    top: 407px;
}

#scale-counter::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 22px 19px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 35px;
}

#depth-counter {
    font-family: 'Oswald' sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    line-height: 100px;
    left: 25px;

}

#metric {
    font-size: 32px;
    font-weight: 300;
    position: relative;
    line-height: 100px;
    left: 25px;
}



.overlay {
    margin-left: 228px;
    margin-top: 30px;
    z-index: 12;
    position: relative;
}
